* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  background: darkgoldenrod;
  height: 80px;
  position: sticky;
  left: 0;
  top: 0;
}

nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container .logo {
  font-size: 24px;
  color: black;
}
nav .container .logo img{
  width: 100%;
}

nav .container ul {
  display: flex;
  gap: 20px;
}

nav .container ul li a {
  color: black;
}

nav .container button {
  padding: 10px;
  font-size: 18px;
  background: white;
  border: none;
  border-radius: 10px 0;
  
}

nav .container button:hover {
  background: hotpink;
  border-radius: 10px;
}

nav .container button a {
  color: black;
}

.first {
  height: 100vh;
  background: white;
  background-size: cover;
  background-position: bottom;
}

.first .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.first .container .box {
  text-align: center;
  max-width:900px;
}

.first .container .box h1 {
  font-size: 25px;
}

.first .container .box p {
  color: rgb(152, 152, 152);
  font-weight: 300;
  font-size: 19px;
  margin: 20px 0;
}

.first .container .box h1 {
  color: black;
  font-size: 50px;
}

.first .container button {
  padding: 10px;
  font-size: 18px;
  background:white;
  border: none;
  border-radius: 10px 0;
}

.first .container button:hover {
  background: red;
  border-radius: 10px;
}

.first .container button a {
  color: black;
}

.second {
  margin: 80px 0;
}

.second h1 {
  font-weight: 500;
  color: black;
  font-size: 30px;
}

.second .container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.second .container .left {
  width: calc(100% / 2 - 30px);
  text-align: start;
}

.second .container .left p {
  margin: 20px 0;
  color: grey;
}

.second .container .left button {
  padding: 10px;
  font-size: 18px;
  background: deepskyblue;
  border: none;
  border-radius: 10px 0;
}

.second .container .left button:hover {
  background: red;
  border-radius: 10px;
}

.second .container .left button a {
  color: white;
}
.second .container img {
  width: calc(100% / 3 - 30px);
  border-radius: 10px;
}

.third {
  margin: 60px 0;
}

.third h1 {
  font-weight: 500;
  color: blueviolet;
  font-size: 30px;
}

.third .container {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.third .container .card {
  width: calc(100% / 4 - 20px);
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
}

.third .container .card picture img {
  width: 100%;
  height: 100%;
  height: 380px;
  object-fit: cover;
}

.third .container .card .text-field {
  padding: 10px;
}

.third .container .card .text-field .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.third .container .card .text-field button {
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
  background: orangered;
  border: none;
  border-radius: 10px;
}

.third .container .card .text-field button a {
  color: white;
}
.fourth{
  margin: 60px 0;
}

.fourth h1 {
  font-weight: 500;
  color: black;
  font-size: 30px;
}

.fourth .container {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.fourth .container .card {
  width: calc(100% / 4 - 20px);
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
}

.fourth .container .card picture img {
  width: 100%;
  height: 100%;
  height: 380px;
}

footer {
  height: 120px;
  background: darkgoldenrod;
}

footer .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container h3 {
  font-size: 14px;
  color:black; 
}

footer .container i {
  font-size: 30px;
  color: black;
}
@media screen and (max-width: 968px) {
  .third .container .card {
    width: calc(100% / 3 - 15px);
  }
}

@media screen and (max-width: 680px) {
  .third .container .card {
   width: calc(100% / 2 - 15px);
  }
} 
@media screen and (max-width: 400px) {
  .third .container .card {
    width: 100%;
  }
}  
@media screen and (max-width:800px) {
nav {
  height: auto;
  padding: 15px 0;
}
nav .container {
  flex-direction: column;
  gap: 30px;
}  
}

